#overview {
    margin: 0;
    background: linear-gradient(to top, rgba(32, 178, 170, 0.2) 10%, transparent),
    url("images/stock.jpg") center/cover no-repeat border-box,
    #ff1b68;

    width: 100vw;
    height: 33vh;
    position: relative;
    text-align: center;
}

#overview h1 {
    position: absolute;
    font-size: 2rem;
    bottom: 10%;
    left: 3%;
}

#overview h2 {
    position: absolute;
    font-size: 1.5rem;
    bottom: 0;
    left: 3%;
}

.topic__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.topic {
    text-align: center;
    width: 100%;
    color: rgb(120, 120, 120);
    padding: 1rem 2rem;
}

.topic img {
    height: 90px;
    width: 80px;
}

.topic__title {
    font-size: 1.5rem;
    color: rgb(68, 68, 68);
    font-weight: 700;
    line-height: 1rem;
}

.topic__description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.group-list {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 80%;
    margin: auto;
}

.group-list-item {
    margin: 1rem 2rem;
    padding: 0;
    display: block;
    border: 3px solid #007300;
    /*border-radius: 15px;*/
}

.group-list-item h3 {
    font-size: 1.5rem;
    color: rgb(68, 68, 68);
    font-weight: 700;
    line-height: 1rem;
}
