@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}


body {
    margin: 0;
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas: "header" "main" "footer";
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background: lightblue;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    display: block;
}

.header-title span {
    display: block;
}

.header-button {
    background: transparent;
    border: none;
    position: absolute;
    left: 0.5rem;
    cursor: pointer;
    vertical-align: center;
}

.header-button:focus {
    outline: none;
}

.header-button div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.nav-mobile {
    position: absolute;
    top: 3.5rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    height: auto;
    width: 100%;
    z-index: 0;
    grid-column: span 3;
    transition: 200ms ease;
    opacity: 0;
    visibility: hidden;
}

.nav-mobile__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-mobile__item {
    margin: 1rem 0;
}

.nav-mobile__item a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.2rem 0;
    cursor: pointer;
}

main {
    height: 100%;
    grid-area: main;
}

.container {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
    width: 100%;
}

.container-title {
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    color: #7997A1;
}

.topic__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.topic {
    text-align: center;
    font-family: "Muli", sans-serif;
    width: 100%;
    color: rgb(120, 120, 120);
    padding: 1rem 2rem;
}

.topic img {
    height: 90px;
    width: 80px;
}

.topic__title {
    font-size: 1.5rem;
    color: rgb(68, 68, 68);
    font-weight: 700;
    line-height: 1rem;
}

.topic__description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.group-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.group-list-item {
    margin: 1rem 2rem;
    padding: 0;
    display: block;
    border: 3px solid lightblue;
    border-radius: 15px;
}

.group-list-item h3 {
    font-family: "Muli", sans-serif;
    font-size: 1.5rem;
    color: rgb(68, 68, 68);
    font-weight: 700;
    line-height: 1rem;
}

.footer {
    margin-top: 1.5rem;
    font-family: "Muli", sans-serif;
    width: 100%;
    background-color: #1D1D1B;
    text-align: center;
    display: block;
    grid-area: footer;
}

.footer h2 {
    margin: 0;
    color: lightblue;
    text-underline-style: single;
    padding-top: 2rem;
}

.footer p {
    color: #FFF;
    text-align: center;
    line-height: 1.5rem;
}

.internal-link {
    display: inline-block;
    color: lightblue;
    border: 2px solid darkcyan;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    padding: 20px 10px;
    margin-bottom: 2rem;
}

.copyright {
    font-family: "Muli", sans-serif;
    font-size: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
}

.open {
    visibility: visible;
    opacity: 1;
}
